.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-calculator {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-calculator table {
  width: 100%;
}

.App-calculator table, th, td {
  border-collapse: collapse;
}

.App-calculator th {
  border: #61dafb solid 1px;
}

.App-calculator-input {
  color: #61dafb;
  min-height: 5vmin;
  font-size: 3vmin;
}

.App-calculator-result {
  color: chartreuse;
  min-height: 5vmin;
  font-size: 3vmin;
}

.App-calculator-inputHistory {
  color: #61dafb;
  min-height: 5vmin;
  font-size: 3vmin;
  text-align: left;
}